body > header {
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.25));
  background-color: $header-background;
  margin-bottom: 2em;

  .site-title {
    display: inline-block;
    height: 80px;
    line-height: 80px;

    img {
      vertical-align: middle;
    }
  }
}